* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.navbar {
  background-color: white;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}


.left-section h1 {
  font-size: 30px;
}

.icon {
  font-size: 20px;
}

.center-section a {
  color:black;
  text-transform: capitalize; 
  letter-spacing: 2px;
  font-weight: bold;
  padding: 20px;
  opacity: 0.7;
}

.center-section a:hover{
    color: orangered;
    transition: all 0.7s;
}
.right-section {
  display: flex;
  gap: 35px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #0af;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #09c;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .center-section,
  .right-section {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .right-section {
    flex-direction: row;
    align-items: self-start;
    justify-content: start;
  }

  .center-section.show,
  .right-section.show {
    display: flex;
  }

  .center-section a {
    margin: 0px 0;
  }

  .right-section {
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    
}
}

.scalling .scale:hover{
  transform: scale(1.1);
  transition: all 0.7s;
  animation-timing-function: ease-in-out;
}
#forms input::placeholder,#forms1 input::placeholder{
  position: relative;
  left: 10px;
}
#forms input,#forms1 input{
  outline: none;
  border: solid 2px whitesmoke;
}
.hiddens{
  display: none;
}
.border{
  border: solid 2px white;
}
.border::placeholder{
  padding: 15px;
}
#hidden_temporary{
  display: none;

}
